
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

h2{
  font-size: 24px;
  margin-bottom:10px ;
}

h3{
  font-size: 20px;
  margin-bottom: 10px;
}

.decrement,
.increment{
  width: 100px;
  height: 30px;
  background-color: red;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition:  background-color 0.3s;
}

.increment:hover,
.decrement:hover{
  background-color: #ff6666;
}

.decrement{
  margin-top: 10px;
}

